<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
    <title>Document</title>
</head>
<body>
    <% for (var i=0; i < all_posts.length; i++) { %>
    <ul>
        <li><%= all_posts[i].Job_Title %></li>
        <li><%= all_posts[i].Location %></li>
        <li><%= all_posts[i].Company_Name  %></li>
        <li><%= all_posts[i].Context %></li>
    </ul>
    <br>
    <% } %>

</body>
</html>