<html>
<head>
  <title> Sign Up </title>
  <link rel="stylesheet" href="/css/logIn.css">
</head>
<body>
	<% if (error.length > 0) { %>
    <div class="isa_error">
      <i> <%= error %></i>
    </div>
    <%} %>
	<div class="main-w3layouts wrapper">
    <h1>Welcome!</h1>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <form action="/login" method="Post">
          <input class="text" type="text" name="Username" placeholder="Username" required="">
          <input class="text password" type="password" name="Password" placeholder="Password" required="">
          <input type= "checkbox" name="company" value = "true"> Logging in for your company?
          <input type="submit" value="LOGIN">
          <a href = "SignUp/">Don't have an account? Sign Up Now!</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>