<DOCTYPE html>
<html lang="en">
  <head>
  <title> Sign Up | Just Do It! </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Kick start your career with a search! Just Do It!">
    <meta name="keywords" content="career, new graduates, entry level, internship">
    <link rel="stylesheet" href="/css/signUp.css">
  </head>

  <body>

    <% for (let i = 0; i < errors.length; i++) { %>
      <div class="isa_error">
        <i> <%= errors[i].msg %></i>
      </div>
    <%} %>

      <header>
        <h1 class="main-header"> <span class="Just">Just</span> Do It!</h1>
        <h1 class="main-subtitle">Kick start your <span class="Just"> career with a search!</span></h1>
      </header>
      
      <div class="join-formbody">
        <form action="/signup" method="Post">
          <div class="form-group">
            <label for="Email">Email</label>
            <input class="email" type="text" name="Username" placeholder="Username" required="">

            <label for="Password">Password</label>
            <input class="password" type="password" name="Password" placeholder="Password" required="">

            <label for="Confirm Password">Confirm Password</label>
            <input class="password2" type="password" name="Password2" placeholder="Confirm Password" required="">

         
            <div class="Company-signup-box">
              <input type="checkbox" name="company" value="true">
              <span class="Company-signup"> Signing Up For The Company? </span>
            </div>

            <input class="btn" type="submit" value="Agree & Join">

            <p class="bottom-text">
              By clicking the Sign Up button, you agree to our
              <a class= "terms" href="#">Terms & Conditions</a> and
              <a class= "terms" href="#">Privacy Policy</a>
            </p>

          </div>
        </form>
      </div>

      <footer>
        <p>Already have an account? <a class="Login" href="/login">Login Here</a></p>
     </footer>
  </body>

</html>
<!--
<body>
    <% for (let i = 0; i < errors.length; i++) { %>
    <div class="isa_error">
      <i> <%= errors[i].msg %></i>
    </div>
    <%} %>
  <div class="main-w3layouts wrapper">
    <h1>SignUp Now</h1>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <form action="/signup" method="Post">
          <input class="text" type="text" name="Username" placeholder="Username" required="">
          <input class="text password" type="password" name="Password" placeholder="Password" required="">
          <input class="text w3lpass" type="password" name="Password2" placeholder="Confirm Password" required="">
          <input type= "checkbox" name="company" value = "true"> Sign Up for Company?
          <input type="submit" value="SIGNUP">
          <a href = "/login">Have An Account? Log In Here!</a>
        </form>
      </div>
    </div>
  </div>
</body>
-->
