* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background:white;
}

header {
  text-align: center;
}

section {
  margin-top: 100px;
}

h1 {
  color: #00609c;
}

.just {
  color: #ffcd00;
}
.join-formbody{
  background: #00609c;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  color: white;
  overflow: auto;
}


label {
  margin-top: 15px;
  font-weight: 400;
  display: block;
}

p {
  text-align: center;
}

.main-header {
  padding-top: 20px;
}

.Company-signup {
  font-size: 13px;
}
.main-subtitle {
  padding: 24px;
}

.bottom-text {
  padding: 10px 0;
  font-size: 13px;
  font-weight: 400;
}

.password, .password2, .email, .btn {
  width: 100%;
}

.password, .email {
  text-align: left top;
  font-size: 18px;
  padding: 13px 15px;
  border-radius: 5px;
  border: #ddd 1px solid;
}

.email {
  margin-bottom: 20px;
}

.Company-signup-box {
  padding: 10px 0;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  background: #ffcd00;
  color: #484949;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}

input[type="submit"].btn:hover {
  background-color: white;
}

a { 
  text-decoration: none;
}

.terms {
  color:#ffcd00;
}

footer {
  padding: 10px;
}
.Login {
  color: #00609c;
}